<h2 fundoAmarelo botaoDiretiva>Texto com fundo amarelo</h2>

<button fundoAmarelo botaoDiretiva>Botão com fundo amarelo SQN</button>
<br>
<p highlightMouse fundoAmarelo>
    Texto com highligth quando passo o mouse.
</p>
<!--
<br>
<p highlight [defaultColor]="'gray'" [highlightColor]="'red'">Cores customizadas com HighLight</p>
<br>
-->
<p>Usando o mesmo nome da diretiva e informando o valor da cor padrão</p>
<p [highlight]="'red'" [defaultColor]="'gray'">Cores customizadas com HighLight</p>
<p [highlight]="'blue'">Azul</p>
<p [highlight]="'green'">Verde</p>