<h2 fundoAmarelo botaoDiretiva>Texto com fundo amarelo</h2>

<button fundoAmarelo botaoDiretiva>Botão com fundo amarelo SQN</button>
<br>
<p highlightMouse fundoAmarelo>
    Texto com highligth quando passo o mouse.
</p>
<!--
<br>
<p highlight [defaultColor]="'gray'" [highlightColor]="'red'">Cores customizadas com HighLight</p>
<br>
-->
<p>Usando o mesmo nome da diretiva e informando o valor da cor padrão</p>
<p [highlight]="'red'" [defaultColor]="'gray'">Cores customizadas com HighLight</p>
<p [highlight]="'blue'">Azul</p>
<p [highlight]="'green'">Verde</p>

<h1>Diretiva de Estrutura Customizada - ngElse</h1>

<button (click)="exibirrCursos()">Exibir Cursos</button>

<div *ngIf="mostrarCursos">
    Lista de cursos (usando o *)
</div>
<template [ngIf]="mostrarCursos">
    <div>
        Lista de cursos (sem o *, usando property-binding)
    </div>
</template>

<br>

<div *ngElse="mostrarCursos">
    Sem cursos para listar (usando o diretiva customizada com *)
</div>
<template [ngElse]="mostrarCursos">
    <div>
        Nenhum curso a listar aqui (sem o *, usando o diretiva customizada com property-binding)
    </div>
</template>