<div class="container">
  <button type="button" class="btn btn-primary" (click)="aba = 'ngSwitch'">Exemplo ngSwitch</button>
  <button type="button" class="btn btn-secondary" (click)="aba = 'ngClass'">Exemplo ngClass</button>
  <button type="button" class="btn btn-success" (click)="aba = 'ngStyle'">Exemplo ngStyle</button>
  <!--button type="button" class="btn btn-info" (click)="aba = 'ngSwitch'">Info</button>
  <button type="button" class="btn btn-warning" (click)="aba = 'ngSwitch'">Warning</button>
  <button type="button" class="btn btn-danger" (click)="aba = 'ngSwitch'">Danger</button>
  <button type="button" class="btn btn-link" (click)="aba = 'ngSwitch'">Link</button -->

  <div class="container" [ngSwitch]="aba">
     <div *ngSwitchCase="'ngSwitch'">
      <h5>Utilizando o ngSwitch</h5>
      <app-ng-switch></app-ng-switch>
     </div>
     <div *ngSwitchCase="'ngClass'">
      <h5>Utilizando o ngClass</h5>
      <app-ng-class></app-ng-class>
     </div>
     <div *ngSwitchCase="'ngStyle'">
      <h5>Utilizando o ngStyle</h5>
      <app-ng-style></app-ng-style>
     </div>
  </div>
</div>